html{
    background-color: #202020;
    scroll-behavior: smooth;
}

body {
    margin-left: 0;
    margin: 0;
    color: #ffffff;
    width: 100vw;
}

@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  #nav-title {
    font-size: 100%;
  }
  #nav-work, #nav-bio {
    font-size: 90%;    
  }
  .head-pic {
    width: 50%;
    margin-top: 10%;
  }
  #main-grid {
    display: flex;
    flex-direction: column-reverse;
  }
  hr {
    /* display: none; */
    margin-top: 8%;
    margin-bottom: -3%;
  }
  h3 {
    font-size: 70%;
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
    width: 70%;
  }
  .project-box>h2 {
    font-size: 90%;
    margin-right: 20%;
  }
  .project-box>ul>li {
    font-size: 70%;
    text-align: left;
  }
  .bio>* {
    width: 75%;
    padding-top: 3%;
    margin: auto;
    font-size: 90%;
  }
  .bio-list {
    display: flex;
    flex-direction: column;
  }
  .bio-list>* {
    font-size: 140%;
    margin: 4%;
    text-align: center;
    list-style-type: none;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .navbar {
    font-size: 80%;
    margin-bottom: 10%;
  }
  #nav-title {
    font-size: 120%;
  }
  #nav-work, #nav-bio {
    font-size: 90%;
  }
  .head-pic {
    width: 50%;
    margin-top: 10%;
    margin-bottom: 20%;
  }
  #main-grid {
    display: flex;
    flex-direction: column;    
  }
  hr {
    /* display: none; */
    margin-top: 8%;
    margin-bottom: -3%;
  }
  h3 {
    font-size: 100%;
    text-align: center; 
    margin-bottom: 2%;
  }
  .header>h3 {
    width: 70%;
  }
  .project-box>h2 {
    font-size: 90%;
    margin-right: 20%;
  }
  .project-box>ul>li {
    font-size: 70%;
    text-align: left;
  }
  .bio>* {
    width: 75%;
    padding-top: 3%;
    margin: auto;
    font-size: 90%; 
  }
  .bio-list {
    display: flex;
    flex-direction: row;
  }
  .bio-list>* {
    font-size: 70%;
    margin-left: -4%;
    text-align: left;
  }
}
@media screen and (min-width: 481px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #main-grid {
    display: grid;
    grid-template: 30% / 40vw 40vw;
    margin-top: 5%;
  }
  #nav-title {
    font-size: 160%;
  }
  #nav-work, #nav-bio {
    font-size: 100%;
  }
  .head-pic {
    width: 50%;
  }
  h3 {
    font-size: 100%;
    text-align: center;
    margin-bottom: 2%;
  }
  .header>h1 {
    font-size: 340%;
  }
  .header>h3 {
    text-align: center;
    width: 70%;
    font-size: 110%;
  }
  .project-box>h2 {
    font-size: 110%;
    margin-right: 20%;
  }
  .project-box>ul>li {
    font-size: 100%;
    text-align: left;
  }
  .bio>* {
    width: 75%;
    padding-top: 3%;
    margin: auto;
    font-size: 110%;
  }
  .bio-list {
    display: flex;
    flex-direction: row;
  }
  .bio-list>* {
    font-size: 100%;
    margin-left: 4%;
    text-align: left;
  }
  .year {
    font-size: 140%;
    margin-bottom: 4%;
  }
}
.navbar {
    display: grid;
    grid-template:  20% / 20% 40% 15% 15% ;
    -ms-grid-column-align: center;
    padding: 3%;
    padding-left: 7%;
    background-color: #333333;
}

a {
    text-decoration: none;
    color: #ffffff;
    filter: drop-shadow( rgb(15, 15, 15) 0.5px 0.5px);
}

a:not(#nav-title):hover{
    background-color: #45aba4af;
}

.navbar>img {
    grid-column: 1;
}

#nav-work {
    grid-column: 3;
}

#nav-bio {
    grid-column: 4;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.head-pic {
  display: flex;
  margin: auto;
  border-radius: 50%;
}

h1 {
  margin-bottom: -2%;
}

hr {
  width: 50%;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hor-align
{
  flex-direction: row;
}

.vert-align
{
  flex-direction: column;
}

button {
  background-color: #45aba4af;
  border: none;
  padding: 2%;
  color: white;
  min-width: 61.66px;
}

button:hover {
  background-color: #45aba4af;
  cursor: pointer;
}

/* .resume {
  width: 80%;
  filter: invert(0.88)
} */

/* Portfolio */
.project-box {
  width: 90%;
  border-left: 1px solid #22fff0;
  border-radius: 1%;
  display: grid;
  grid-template: 20% 50% / 30% 70%;
}

.project-box>h2 {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column: 2;
  grid-row: 1;
  margin: auto;
  gap: 5%;
}

.button-row>img {
  margin: auto;
  width: 15%;
  margin-top: 5%;
}

.project-box>h3 {
  grid-column: 1;
  grid-row: 2;
  margin: auto;
}

.project-box>ul {
  grid-column: 2;
  grid-row: 2;
}

.bio-list {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2%;
  padding: 6%;
  background-color: #45aba4af;
}











/* Fonts:   */
.titillium-web-extralight {
font-family: "Titillium Web", sans-serif;
font-weight: 200;
font-style: normal;
}

.titillium-web-light {
font-family: "Titillium Web", sans-serif;
font-weight: 300;
font-style: normal;
}

.titillium-web-regular {
font-family: "Titillium Web", sans-serif;
font-weight: 400;
font-style: normal;
}

.titillium-web-semibold {
font-family: "Titillium Web", sans-serif;
font-weight: 600;
font-style: normal;
}

.titillium-web-bold {
font-family: "Titillium Web", sans-serif;
font-weight: 700;
font-style: normal;
}

.titillium-web-black {
font-family: "Titillium Web", sans-serif;
font-weight: 900;
font-style: normal;
}

.titillium-web-extralight-italic {
font-family: "Titillium Web", sans-serif;
font-weight: 200;
font-style: italic;
}

.titillium-web-light-italic {
font-family: "Titillium Web", sans-serif;
font-weight: 300;
font-style: italic;
}

.titillium-web-regular-italic {
font-family: "Titillium Web", sans-serif;
font-weight: 400;
font-style: italic;
}

.titillium-web-semibold-italic {
font-family: "Titillium Web", sans-serif;
font-weight: 600;
font-style: italic;
}

.titillium-web-bold-italic {
font-family: "Titillium Web", sans-serif;
font-weight: 700;
font-style: italic;
}