html{
    background-color: #202020;
    scroll-behavior: smooth;
}
body {
    margin-left: 0;
    margin: 0;
    color: #f0f7f4;
}

.navbar {
    display: grid;
    grid-template:  20% / 20vw 46vw 7vw 7vw ;
    -ms-grid-column-align: center;
  
    padding: 2%;
  
  
    background-color: #70abaf;
}

.navbar>* {

    font-size: 15px;
}

#nav-title {

    font-size: 27px;
}

a {
    text-decoration: none;
    color: #f0f7f4
    
}

a:not(#nav-title):hover{
    background-color: #99e1d9;
    border-radius: 10%;
}
.navbar>img {
    grid-column: 1;
}

#nav-work {
    grid-column: 3;
}

#nav-bio {
    grid-column: 4;
}

.titillium-web-extralight {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .titillium-web-light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .titillium-web-bold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .titillium-web-black {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .titillium-web-extralight-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .titillium-web-light-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .titillium-web-regular-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .titillium-web-semibold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .titillium-web-bold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .header {
    width: 70vw;
  }

  .head-pic {
    width: 20vw;
    display: flex;
    margin: auto;
    border-radius: 50%;
  }

  #main {
    display: flex;
    margin: 0 5vw 0 5vw;
  }

  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hor-align
  {
    flex-direction: row;
  }

  .vert-align
  {
    flex-direction: column;
  }
  
  button {
    background-color: #70abaf;
    border: none;
    padding: .5vw;
    width: 10vw;
    border-radius: 5%;
  }

  button:hover {
    background-color: #99e1d9;
    cursor: pointer;
  }

  .c2a {
    margin-bottom: 5px;
  }



  .resume {
    width: 80vw;
    filter: invert(0.88)
  }