html{
    background-color: #202020;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #ffffff;
    width: 100vw;
}

@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  #nav-title {
    font-size: 100%;
      margin-top: 20%;
  }
  .clipart {
    width: 27%;
  }
  #nav-work, #nav-bio {
    font-size: 50%;
      margin-right: 10px;
  }
.navbar {
    display: grid;
    grid-template:  30% / 25% 25% 25% 25%;
    padding-top: 1%;
}
  .head-pic {
    width: 50%;
    margin-top: 10%;
  }
  #main-grid {
    display: flex;
    flex-direction: column-reverse;
  }
  hr {
    display: none;
    margin-top: 8%;
    margin-bottom: -3%;
  }
  h3 {
    font-size: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
    width: 60%;
  }
  .header {
    font-size: 100%;
    margin: 10px 0 10px 0;
  }
  h4 {
    font-size: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
    width: 70%;
  }
  .project-box>h2 {
    font-size: 90%;
    margin-right: 20%;
  }
  .project-box>ul>li {
    font-size: 70%;
    text-align: left;
  }
  .bio>* {
    width: 75%;
    padding-top: 1%;
    margin: auto;
    font-size: 90%;
  }
  .bio-list {
    display: flex;
    flex-direction: column;
  }
  .bio-list>* {
    font-size: 140%;
    margin: 4%;
    text-align: center;
    list-style-type: none;
  }
}
@media screen and (min-width: 321px) or (max-width: 549px) {
  /* comes into effect for screens between 321 and 549 pixels (inclusive) */
  .navbar {
    display: grid;
    grid-template:  40% / 35% 45% 10% 10% ;
    padding-top: 4%;
    font-size: 65%;
    margin-bottom: 5%;

  }
  #nav-title {
    font-size: 120%;
  }
  #nav-work, #nav-bio {
    font-size: 70%;
      padding-left: 20%;
  }
  .head-pic {
    width: 140px;


  }
  #main-grid {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}
  }
  hr {
    /* display: none; */
    margin-top: 8%;
    margin-bottom: -3%;
  }
  h3 {
    font-size: 100%;
    text-align: center; 
    margin-bottom: 2%;
  }
  .header>h3 {
    width: 70%;
  }
  .header>h4 {
    width: 70%;
  }
  .project-box {
    margin-left: 5%;
    padding-left: 5%;
  }
  .project-box>h2 {
    font-size: 90%;
    margin-right: 20%;
  }
  .project-box>ul>li {
    font-size: 70%;
    text-align: left;
  }
  .bio>* {
    width: 75%;
    padding-top: 1.5%;
    margin: auto;
    font-size: 90%; 
  }
  .bio-list {
    display: flex;
    flex-direction: row;
  }
  .bio-list>* {
    font-size: 70%;
    margin-left: -4%;
    text-align: left;
  }
  .clipart {
    width: 40%;
    padding: 15px;
  }
  .showcase {
    width: 40%;
  }

@media screen and (min-width: 550px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #main-grid {
    display: grid;
    grid-template: 70% / 400px 400px;
    margin-top: 150px;
  }

  .navbar {
    font-size: 100%;
    display: grid;
    grid-template:  10% / 40% 40% 10% 10%;
    padding-top: 1%;
  }

  #nav-title {
    font-size: 121%;
  }
  #nav-work, #nav-bio {
    font-size: 90%;
  }
  .head-pic {
    width: 70%;
  }
  h3 {
    font-size: 100%;
    text-align: center;
    margin-bottom: 2%;
  }

  .headline {
    margin-bottom: 2%;
  }
  .header>h1 {
    font-size: 340%;
  }
  .header>h3 {
    text-align: center;
    width: 70%;
    font-size: 110%;
  }
  .header>h4 {
    text-align: center;
    width: 70%;
    font-size: 110%;
  }
  .project-box>h2 {
    font-size: 110%;
    margin-right: 20%;
  }
  .project-box>ul>li {
    font-size: 100%;
    text-align: left;
  }
  .bio>* {
    width: 50%;
    margin: auto;
    font-size: 110%;
    
  }

  .bio-list {
    display: flex;
    flex-direction: row;
  }
  .bio-list>* {
    font-size: 80%;
    margin-left: 4%;
    text-align: left;
  }
  .year {
    font-size: 140%;
    margin-bottom: 4%;
  }
  .showcase {
    width: 17%;
    border-radius: 1%;
  }
  .clipart {
    width: 10%;

    margin: 0 !important;
  }
}
.navbar {
    padding-bottom: 10px;
    background-color: #333333;
    display: grid;
    gap: 10px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bio>hr {
    padding-top: 0 !important;
    margin: 20px auto auto auto;
    width: 20%;
}
.button-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

a {
    text-decoration: none;
    color: #ffffff;
    max-width: 200px;
    border-radius: 3%;
    transition: 0.3s;
    text-align: center;
    text-justify: auto;
}

a:not(#nav-title):hover{
    background-color: #0098f6af;
    transition: 0.3s;
    padding: 20px;

}


.navbar>img {
    grid-column: 1;
}

#nav-work {
    grid-column: 3;
    font-size: 80%;
}

#nav-bio {
    grid-column: 4;
    font-size: 80%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.head-pic {
  display: flex;
  margin: auto;
  border-radius: 50%;
  border: 4px inset #22fff0;
  max-width: 150px;
}

.final {
  margin-bottom: 10%;
}



.blue {
  color: #22fff0;
}

hr {
  color: #22fff061;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hor-align
{
  flex-direction: row;
}

.vert-align
{
  flex-direction: column;
}


.vert-button>button {
  padding: 0 20% 0 20% ;
  height: 40px;
  margin-top: 10px;


}
.vert-button>button:hover {
  padding: 0 22% 0 22%
}

button {
  background-color: rgba(53, 236, 227, 0.69);
  border: none;
  padding: 2%;
  color: white;
  min-width: 61.66px;
  transition: 0.3s;

}

button:hover {
  background-color: #0098f6af;
  border-radius: 6%;
    padding: 20px;
  transition: 0.3s;
  cursor: pointer;
}

/* .resume {
  width: 80%;
  filter: invert(0.88)
} */

/* Portfolio */
.project-box {
  width: 90%;
  border-left: 1px solid #22fff0;
  border-radius: 1%;
  display: grid;
  grid-template: 20% 90% / 30% 70%;
}

.project-box>h2 {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}



.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column: 2;
  grid-row: 1;
  margin: auto;
  gap: 5%;
}

.button-row>img {
  margin: auto;
  width: 15%;
  margin-top: 5%;
}

.project-box>h3 {
  grid-column: 1;
  grid-row: 2;
  margin: auto;
}

.project-box>ul {
  grid-column: 2;
  grid-row: 2;
}

.bio-list {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2%;
  padding: 0 12% 0 12%;
  background-color: rgba(40, 186, 178, 0.69);


}


#idcard {
    background-color: #333333;
  padding-bottom: 10%;
  border-radius: 10%;
}




.showcase {
  /* border: #45aba4af solid 2px ; */
  padding: 0;
  margin-top: 2%;
}

span {
  display: inline-block;
}

.left-align {
  text-align: center;
}

.year {
  padding-right: 30px;
}

/* Fonts:   */
.titillium-web-extralight {
font-family: "Titillium Web", sans-serif;
font-weight: 200;
font-style: normal;
}

.titillium-web-light {
font-family: "Titillium Web", sans-serif;
font-weight: 300;
font-style: normal;
}

.titillium-web-regular {
font-family: "Titillium Web", sans-serif;
font-weight: 400;
font-style: normal;
}

.titillium-web-semibold {
font-family: "Titillium Web", sans-serif;
font-weight: 600;
font-style: normal;
}

.titillium-web-bold {
font-family: "Titillium Web", sans-serif;
font-weight: 700;
font-style: normal;
}

.titillium-web-black {
font-family: "Titillium Web", sans-serif;
font-weight: 900;
font-style: normal;
}

.titillium-web-extralight-italic {
font-family: "Titillium Web", sans-serif;
font-weight: 200;
font-style: italic;
}

.titillium-web-light-italic {
font-family: "Titillium Web", sans-serif;
font-weight: 300;
font-style: italic;
}

.titillium-web-regular-italic {
font-family: "Titillium Web", sans-serif;
font-weight: 400;
font-style: italic;
}

.titillium-web-semibold-italic {
font-family: "Titillium Web", sans-serif;
font-weight: 600;
font-style: italic;
}

.titillium-web-bold-italic {
font-family: "Titillium Web", sans-serif;
font-weight: 700;
font-style: italic;
}