html{
    background-color: #202020;
    scroll-behavior: smooth;
}

body {
    margin-left: 0;
    margin: 0;
    color: #ffffff;
    width: 100vw;

}

.navbar {
    display: grid;
    grid-template:  20% / 20% 50% 10% 10% ;
    -ms-grid-column-align: center;
    gap: 1%;
    padding: 3%;
  
  
    background-color: #333333;
}

.navbar>* {

    font-size: 100%;
}

#nav-title {

    font-size: 150%;
}

a {
    text-decoration: none;
    color: #ffffff;
    filter: drop-shadow( rgb(15, 15, 15) 0.5px 0.5px);
    
}


a:not(#nav-title):hover{
    background-color: #66fcf2cf;
    border-radius: 7%;
}
.navbar>img {
    grid-column: 1;
}

#nav-work {
    grid-column: 3;
}

#nav-bio {
    grid-column: 4;
}

.titillium-web-extralight {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .titillium-web-light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .titillium-web-bold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .titillium-web-black {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .titillium-web-extralight-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .titillium-web-light-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .titillium-web-regular-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .titillium-web-semibold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .titillium-web-bold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .header {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .head-pic {
    width: 50%;
    display: flex;
    margin: auto;
    border-radius: 50%;
  }

  h1 {
    margin-bottom: -2%;
  }

  hr {
    width: 50%;
  }
  #main {
    display: flex;
    margin: 0 5vw 0 5vw;
  }

  #main-grid {
    display: grid;
    grid-template: 30% / 40vw 40vw;

    margin-top: 5%;
  }

  .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hor-align
  {
    flex-direction: row;
  }

  .vert-align
  {
    flex-direction: column;
  }
  
  button {
    background-color: #66fcf2cf;
    border: none;
    padding: 2%;
    margin: auto;
    width: 20%;
    border-radius: 5%;
    color: white;
    min-width: 61.66px;
    /* text-shadow: rgb(15, 15, 15) .75px .75px; */
    
  }

  button:hover {
    background-color: #66fcf2;
    cursor: pointer;
  }

  .c2a {
    margin-bottom: 5%;
  }

  .resume {
    width: 80%;
    filter: invert(0.88)
  }


  /* Portfolio */
  .project-box {
 
    width: 90%;
    border: 1px solid white;
    display: grid;
    grid-template: 20% 50% / 30% 70%;
    border-radius: 3%;
  }

  .project-box>h2 {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }

  .button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
    margin: auto;
    gap: 5%;
  }

  .button-row>img {

    margin: auto;
    width: 15%;
    margin-top: 5%;

  }

  .project-box>h3 {
    grid-column: 1;
    grid-row: 2;

  }

  .project-box>ul {
    grid-column: 2;
    grid-row: 2;
    
  }

  .project-box>ul>li {
    font-size: 100%;
    text-align: left;
  }

