{% extends "layout.html" %}
{% block content %}

<div class="bio">
    <h1 class="titillium-web-bold">Who I Am</h1>
    <p class="titillium-web-light">I'm a recent <span style="color: #22fff0;">Computer Science</span> graduate from Western Governors University, with a strong background in <span style="color: #22fff0;">financial services</span>, and am currently working as a Financial Customer Associate at Fidelity Investments.</p>
<!--    <p class="titillium-web-light">I specialize in the Defined Benefits space and consistently deliver top-tier customer satisfaction through problem-solving and analytical thinking.</p>-->
    <h1 class="titillium-web-bold">What's Next</h1>
    <p class="titillium-web-light">I’m actively seeking <span style="color: #22fff0;">software engineering</span> opportunities where I can contribute to internal tools, client-facing platforms, or data-driven solutions. I’m especially excited about roles that let me combine my domain expertise in Defined Benefits with my technical skills</p>
   <p class="titillium-web-light"><span style="color: #22fff0;">If you'd like to contact me, feel free to send a message to me through LinkedIn or connect.</span></p>
                    <div class="vert-button centered">
                <button class="centered" onclick="window.location.href='https://www.linkedin.com/in/masonmike2001'">LinkedIn</button>
                </div>
    <img src="../static/student.png" class="clipart" alt="">
    <h1 class="titillium-web-bold">What I Bring</h1>
    <div class="bio-list">
        

        
        <ul class="titillium-web-regular">
            <h4>LANGUAGES:</h4>
            <li>Java</li>
            <li>Python</li>
            <li>C</li>
        </ul>
       
        <ul class="titillium-web-regular">
            <h4>FRAMEWORKS:</h4>
            <li>Spring Boot</li>
            <li>Angular</li>
            <li>Flask</li>
            <li>React</li>
        </ul>
        
        <ul class="titillium-web-regular">
            <h4>TOOLS:</h4>
            <li>Intellij IDEA</li>
            <li>MySQL</li>
            <li>Git</li>
            <li>Azure</li>
            
            
        </ul>
        <ul class="titillium-web-regular">  
            <h4>EDUCATION:</h4>
            <li>B.S. in Computer Science (2025)</li>
            <li>CompTIA A+ (2023)</li>
            <li>ITIL 4 (2024)</li>
            <li>Linux Essentials LPI (2024)</li>

        </ul>
    </div>
</div>

{% endblock %}