{% extends "layout.html" %}
{% block content %}

<div class="bio">
    <p class="titillium-web-light">Welcome! My name is Mike, and I'm a full stack developer. As of this year, I am attending Western Governors University for my B.S. in Computer Science. If you'd like to contact me, feel free to send a message to me through LinkedIn or connect!</p>
    <p class="titillium-web-light">When I'm not studying or working on projects, I work as an EMT. If I'm not doing that either, I'm probably playing with my pet gecko.</p>


        
    <p class="titillium-web-light"></p>
    <div class="bio-list">
        
        <ul class="titillium-web-regular">  
            <h4>CERTIFICATIONS:</h4> 
            <li>CompTIA A+</li>
        </ul>
        
        <ul class="titillium-web-regular">
            <h4>LANGUAGES:</h4>
            <li>Python</li>
            <li>Javascript</li>
            <li>C</li>
        </ul>
       
        <ul class="titillium-web-regular">
            <h4>FRAMEWORKS:</h4>
            <li>Flask</li>
            <li>React</li>
        </ul>
        
        <ul class="titillium-web-regular">
            <h4>TOOLS:</h4>
            <li>VSCode</li>
            <li>Sqlite3</li>
            <li>Git</li>
            <li>PIP</li>
            
        </ul>
    </div>
    </ul>
    <!-- <img src="../static/resume.png" alt="resume" class="resume"> -->
</div>

{% endblock %}