{% extends "layout.html" %}
{% block content %}

<div class="bio centered">
    <img src="../static/student.png" class="clipart" alt="">
    <h1 class="titillium-web-bold ">Who I Am</h1>
    <p class="titillium-web-light">I’m a Computer Science graduate from Western Governors University with professional
        experience in financial services at Fidelity Investments, where I work in pension and 401k services.
        I specialize in building backend systems and internal tools using Java, Spring Boot, and Python, with a focus on
        reliability, clarity, and real-world usability.

    <p class="titillium-web-light">My time in financial services taught me how to work in structured,
        high-responsibility environments where accuracy and communication are critical. I bring that same mindset into
        software engineering—building maintainable, predictable, and production-ready applications.</p>
    <h1 class="titillium-web-bold">What I'm Looking For</h1>
    <p class="titillium-web-light">I’m looking for a software engineering role where I can contribute to backend
        systems, internal tools, or data-driven applications.

        I’m especially interested in environments where I can grow in:
        backend development (Java / Spring Boot)
        system design fundamentals
        working with real production infrastructure.
    <h1 class="titillium-web-bold text-center mb-4">Technical Background</h1>

    <div class="container">
        <div class="row g-4 justify-content-center">
            <div class="col-md-3 skill-column titillium-web-light text-center">
                <h4 class="fw-bold underline">Languages</h4>
                <ul class="list-unstyled mt-3">
                    <li>Java</li>
                    <li>SQL</li>
                    <li>Python</li>
                    <li>Typescript</li>
                </ul>
            </div>
            <div class="col-md-3 skill-column titillium-web-light text-center">
                <h4 class="fw-bold underline">Frameworks</h4>
                <ul class="list-unstyled mt-3">
                    <li>Spring Boot</li>
                    <li>Flask</li>
                    <li>PostgreSQL</li>
                    <li>Podman</li>
                    <li>React</li>
                </ul>
            </div>
            <div class="col-md-3 skill-column titillium-web-light text-center">
                <h4 class="fw-bold underline">Education</h4>
                <ul class="list-unstyled mt-3">
                    <li><strong>B.S. Computer Science</strong><br>
                        Western Governors University (2025)
                    </li>
                    <!--                    <li class="mt-2"><strong>B.S. Exercise Science</strong><br>-->
                    <!--                        UMass Lowell (2023)-->
                    <!--                    </li>-->
                </ul>
            </div>
            <div class="col-md-3 skill-column titillium-web-light text-center">
                <h4 class="fw-bold underline">Certifications</h4>
                <ul class="list-unstyled mt-3">
                    <li>ITIL 4 Foundation</li>
                    <li>LPI Linux Essentials</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
