{% extends "layout.html" %}
{% block content %}
<div id="main-grid">

    <div class="centered" id="idcard">

        <img class="head-pic" src="../static/profile.png" alt="profile-pic">
        <h1 class="titillium-web-regular centered blue">Michael Mason</h1>
            <div class="button-grid">
                <div class="vert-button centered">
                    <h3 class="titillium-web-regular c2a">View my code:</h3>
                    <button class="centered" onclick="window.location.href='https://github.com/masonmike2001'">GitHub</button>
                </div>
                <div class="vert-button centered">
                    
                <h3 class="titillium-web-regular c2a">Connect with me:</h3>
                <button class="centered" onclick="window.location.href='https://www.linkedin.com/in/masonmike2001'">LinkedIn</button>
                </div>
            </div>
        
    </div>
    <div class="header centered">
<!--        <h2 class="titillium-web-regular centered blue">Hello!</h2>-->
        <h3 class="titillium-web-regular centered headline">Hi, I'm Mike — a Financial Customer Associate at Fidelity Investments with a Computer Science degree and a passion for building elegant, user-focused software.</h3>
        <h4 class="titillium-web-regular centered headline final">I thrive at the intersection of customer empathy and technical problem-solving, and I'd like to use my skills in software engineering to create tools that empower people the way I’ve empowered customers.</h4>
    </div>
    
</div>
{% endblock %}