{% extends "layout.html" %}
{% block content %}
<div class="vert-align">
    <!-- <h2>Headline</h2> -->
    <img class="head-pic" src="../static/profile.png" alt="profile-pic">
    <ul class="centered vert-align titillium-web-regular">
        <li>Computer Science student at WGU</li>
        <li>CompTIA A+ Certified</li>
    </ul>
    <hr>
    <h3 class="titillium-web-regular">View my code on</h3>
        <button>Github</button>
    <h3 class="titillium-web-regular">Connect with me on</h3>
        <button>LinkedIn</button>

</div>

{% endblock %}