<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Mike Mason</title>
    <link rel="icon" type="image/x-icon" href="../static/portfolio.png">
</head>
<body>
    <div class="navbar">
        <a id="nav-title" class="titillium-web-regular " href="/">mikemason<span style="color: #767676;">.dev<span style="color: #03f2ff;" class = "blink" >|</span></span></a>
        <a id="nav-work" class="titillium-web-regular centered" href="/portfolio">Projects</a>
        <a id="nav-bio" class="titillium-web-regular centered" href="/bio">About</a>
    </div>
    <div id="main" class="centered">
        {% block content %} 
        {% endblock %} 
    </div>

</body>
</html>