{% extends "layout.html" %}
{% block content %}
    <div class="centered">
        <h3 class="titillium-web-light year">MARCH 2024</h3>
        <div class="project-box titillium-web-light">
            <h2>Portfolio Site</h2>
            <!-- <img src="../static/portfolio/weatherapp.png" alt=""> -->
            <div class="button-row">
                <button onclick="window.location.href='/'">Open</button>
                <button onclick="window.location.href='https://github.com/masonmike2001/portfolio-redo'">View code</button>
                <img src="../static/portfolio/portfolio.png" alt="">
            </div>
            <h3>Features:</h4>
            <ul>
                <li>Built using Flask, Python</li>
                <li>Responsive portfolio site that serves as the home for all my projects</li>
                <li>Hosted using an Azure container, and configured workflow to redeploy on every push</li>
            </ul>
        </div>
        <h3 class="titillium-web-light year">FEBRUARY 2023</h3>
        <div class="project-box titillium-web-light">
            <h2>Weather App</h2>
            <!-- <img src="../static/portfolio/weatherapp.png" alt=""> -->
            <div class="button-row">
                <button onclick="window.location.href='https://masonmike2001.github.io/weather-app/'">Open</button>
                <button onclick="window.location.href='https://github.com/masonmike2001/weather-app'">View code</button>
                <img src="../static/portfolio/cloudy.png" alt="">
            </div>
            <h3>Features:</h4>
            <ul>
                <li>Built using Javascript</li>
                <li>Calls the OpenWeatherMap API efficiently to deliver precise weather data metrics</li>
                <li>Dynamic live wallpaper depending on the location's current forecast</li>
            </ul>
        </div>
    </div>

{% endblock %}