{% extends "layout.html" %}
{% block content %}

    <div class="project-box titillium-web-light">
        <h2>Weather App</h2>
        <!-- <img src="../static/portfolio/weatherapp.png" alt=""> -->
        <div class="button-row">
            <button>Open</button>
            
            <button>View code</button>
            <img src="../static/portfolio/cloudy.png" alt="">
        </div>
        <h4>Features</h4>
        <ul>
            <li>Built using Javascript</li>
            <li>Calls the OpenWeatherMap API efficiently to deliver precise weather data metrics</li>
            <li>Dynamic live wallpaper depending on the location's current forecast</li>
        </ul>

    </div>

{% endblock %}